.wrapper{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

img{
  max-width: 80%;
}

.links{

}

.infoIcon{
  /* color: gray; */
}

.resumo{
  text-align: center;
}
