.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

img{
  max-width: 80%;
}

.resumo{
  text-align:justify;
  padding: 15px;
}
h3{
  text-align: center;
  color: midnightblue;
  font-size: large;
  font-weight: bolder;
}

h2 {
  color: midnightblue;
}

