
/* .cardTransmissor{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  border-radius: 10px;
  background: rgba(211, 244, 252, 0.371);
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 0.5px solid rgb(196, 196, 196);

}

.cardTransmissor:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} */

img {
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  white-space: normal;
  padding: 30px;
}
