<div class="containerTexto">
  <h1 class="titulo">Você sabe o que é um vetor etiológico?</h1>
  <p>Os vetores são os veículos de transmissão do agente causador da doença, ou seja,
    ele é o organismo responsável pela transmissão da enfermidade.
    No caso do mosquito Aedes, ele seria o vetor para o vírus causador da dengue, além, é claro,
    de ser vetor de outras doenças, como a zika, chikungunya e febre amarela.
  </p>
  <p>
    Vários seres vivos podem servir como vetores, como é o caso de alguns moluscos e insetos.
    Esses vetores podem ser classificados em dois tipos básicos: vetores biológicos e mecânicos.
    Os vetores biológicos são aqueles em que o agente causador da doença multiplica-se e desenvolve-se em seu interior.
    Já o vetor mecânico é aquele que apenas
    serve como veículo de transporte. <br />
  </p>
  <p><b> Conheça alguns vetores provocados pela falta de saneamento básico.</b></p>


</div>

<app-transmissor-card *ngFor="let item of listaDeTransmissores" [transmissor]="item"></app-transmissor-card>
<a href="tel:+180"> Se você está sofrendo abusos em casa, <b>denuncie!</b></a>
