<div class="all">
  <h1>Saneamento e problemas regionais</h1>
  <div class="compReg" *ngFor="let item of listaRegioes">
    <div id="cidade">
      <div>
        <h2>{{item.cidade}}</h2>
        <li *ngFor="let sItem of item.problemas">{{sItem.descricao}} - {{sItem.porcentagem}}%</li>
      </div>
      <img [src]="item.imagem">
    </div>
    <div id="regiao">{{item.regiao}}</div>
  </div>

  <div class="botaoViolencia">
    <p>Você sofre violência em casa?</p>
    <a mat-raised-button color="accent" href="tel:+180">Clique Aqui</a>
  </div>
</div>
