.all, h1{
  margin: 2px;
  padding: 5px;
  max-height: 100%;
}

h1{
  font-weight: 500;
}

img{
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  align-self: flex-start;
  flex-direction: row-reverse;
  margin: 5px;
}

#cidade{
  margin-left: 15px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.compReg{
  margin-bottom: 10px;
  border-bottom: solid 1px black;
}

#cidade, #regiao li{
  max-width: auto;
  font-size: 16px;
}

#regiao{
  display: flex;
  justify-content: flex-end;
  font-style: italic;
}
